@import url(https://db.onlinewebfonts.com/c/d66fa62dabed66f2226a1b2d17da0579?family=Showcard+Gothic);

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Showcard Gothic" ;
    color:deeppink;
}

body{
    height:100vh;
    width:100vw;
    background-image:linear-gradient(45deg,midnightblue,deeppink);
    display:flex;
    justify-content:center;
    align-items:center;
}

#elementos{
    width:400px;
    height:400px;
    background-color:midnightblue;
    display:flex;
    align-items: center;
    justify-content:center;
    text-align:center;
    border-radius:30px;
    border:solid 1px deeppink;
    box-shadow: 0 0 10px deeppink;
}

#elementos input{
    padding:10px;
    margin-bottom:20px;
    background-color:midnightblue;
    overflow:hidden;
    transition:0.5s;
    border-radius:20px;
}

#elementos input:hover{
    background-color:white;
}

#login{
    width:200px;
    height:40px;
    border-radius:40px;
    transition:0.5s;
    background-image: linear-gradient(75deg, deeppink, midnightblue);
    color:deeppink;
}

#login:hover{
    width:220px;
    height:44px;
    background-color: none;
    border:none;
    color:white;
}